* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  font-family: "Karla", sans-serif;
}

.App {
  display: flex;
  background-color: #F5F5F5;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
  border-radius: 5px;
  flex-direction: column;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.dice__container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.roll__btn {
  display: block;
  background-color: #5035FF;
  font-size: 1.5rem;
  color: white;
  height: 50px;
  width: 150px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  margin: 40px 10px;
}

.roll__btn:hover {
  background-color: #6a54f8;
}